*{
    font-family: 'Georgia', serif;
    font-size: 1.1vw;
}
html{
    background-color: #ADCBA4;
}
body{
    margin:20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #466365;
}

#title{
    text-align: center;
    /* width: 90%; */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    text-shadow: 0px 0px 10px #B3B492, 0px 0px 15px #B3B492; */
    font-size: 3vw;
    /* margin: 1% 1% 1% 1%; */
    margin: 0;
    padding-top: 2%;
    padding-bottom: 2%;

}
#nav{
    /* display: flex; */


    margin: auto 2% auto 2%;
    border-bottom: 0.5px #000000 solid;
    border-top: 0.5px #000000 solid;

    /* background-color: #6F686D;
    border-radius: 10px; */
    /* width: 98%; */

}

#nav ul{
    margin: auto;
    padding:0;
    list-style-type: none;
    display: flex;
    /* align-items: center; */
    width: 70%;
    justify-content: center;
}

#nav ul li{
    padding:2% 5% 2% 5%;
    text-align: center;
    /* border-left: 0.2px #000000 solid;
    border-right: 0.2px #000000 solid; */
}

#nav ul li a{
    text-decoration: none;
    color: #050517;
}

#nav ul li a:hover{
    color: #466365;
}

#mainContent{
    margin: auto 2% auto 2%;
}

#sideBar{
    width:39%;
    float: right;
}

/* #loginFormSection{
    /* display: flex;
    margin-left: 5%;
    /* height: 20vh;
    /* margin-top: 1%;
} */

#startingNote{
    margin-left: 5%;
    margin-top: 1%;
    text-align: center;
    /* height: 20vh; */
}
#startingNote p{
   margin: 0;
}

#unknown{
    text-align: center;
    height:100px;
}



#tiles{
    width:60%;
    height: 100px;
    border:5px #ADCBA4 dotted;
    margin-top: 1%;
}

#important{
    width:60%;
    height: 100px;
    border:5px #ADCBA4 dotted;
    margin-top: 1%;
}

.warmup-entry{
  width:70%;
  margin:auto;
  padding: 0px 5px;
  position: relative;
  border-left: 3px #466365 solid;
  background: rgba(173, 203, 164, 0.2);
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.warmup-name{
  font-size: 1.6vw;
  padding-top: 5px;
}

.warmup-audio{
  width: 90%;
  font-size: 1.1vw;
}

.warmup-star{
  position:absolute;
  top: 0;
  right: 5px;
  font-size: 2vw;
  margin: 0;
}

#signUpSection{
    display: block;
    /* text-align: center; */
    margin-top: 2%;
    margin-bottom: 2%;
}

#signUpForm{
    /* padding: 2%; */
    /* margin: auto; */
    /* display: block;
    margin: 0 auto; */
    width: 20%;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    border: 2px #ADCBA4 solid;
    border-radius: 10px;
}

#signUpForm input{
    display: block;
    text-align: center;
    margin: 2% auto;
    border: 1px #ADCBA4 solid;
    padding: 1% 0;
}

#signUpForm button {
    margin-top: 2%;
    margin-bottom: 2%;
}

#loginFormSection{
    display: block;
  /* text-align: center; */
    margin-top: 2%;
    margin-bottom: 2%;
}

#loginForm{
    /* padding: 2%; */
    /* margin: auto; */
    /* display: block;
    margin: 0 auto; */
    width: 20%;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    border: 2px #ADCBA4 solid;
    border-radius: 10px;
}

#loginForm input{
    display: block;
    text-align: center;
    margin: 2% auto;
    border: 1px #ADCBA4 solid;
    padding: 1% 0;

}

#loginForm button {
    margin-top: 2%;
    margin-bottom: 2%;
}

#footer{
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}
