*{
    font-family: 'Times New Roman', Times, serif;
}
#title{
    width: 100%;
    height: 95vh;
    
    font-size: xx-large;
    background-image: url("geert-pieters-8QrPJ3Kfie4-unsplash.jpg");
    background-size: cover;
    color: #E3E4DB;
    border: 2px solid #3B252C;
    border-radius: 100px;
}
#title h1{
    padding-top: 42.5vh;
    margin: auto;
    text-align: center;
}
#title p{
    text-align: center;
    padding: 0%;
    font-size: small;
    font-style: italic;
}
#all-content{
    display: flex;
}

#main-content{
    text-align: center;
    color: #3B252C;
    width: 80%;
    /* border:2px solid #3B252C; */
    /* border-radius: 50px; */
    margin: 1% 0;
}
#all-content aside{
    text-align: center;
    width: 20%;
    min-height:300px;
    border: 2px solid #3B252C;
    border-radius: 50px;
    margin: 1% 0 1% 2%;
    background-color: #CDCDCD;
}

/* nav */
#nav{
    width:100%; 
}

#nav ul {
   display:flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   padding-left:0%;
   text-align: center; 
}

#nav ul li{
    list-style: none;
    background-color: #CDCDCD; 
    box-shadow: 0px 0px 10px #3B252C;
    padding: 1% 2%;
    margin: 0.5% auto;
    border-radius: 10px;   
    
}

#nav ul li a{
    text-decoration: none;
    color:#3B252C;
    font-size: larger;
   
}

#nav ul li a:hover {
    color:#AC9FBB; 
}



/* 
#heading table{
    text-align: center;
    margin: 0;
    padding: 0%;
    font-size: larger;
    width: 100%;
}
#heading table tr td{
    padding: 2%;
    border: 2px solid #3B252C;
    border-radius: 50px;
    width: fit-content;
} */

#warmup-list table{
    margin: auto;
}
